{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block content %}
    <article class="full">
            
        <h1>{{ article.title }}</h1>
        
        {{ article.content }}   

    </article>

    {% if article.share_post and article.status != 'draft' %}
    <section>
        <p id="post-share-links">
            Share on:
            <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter">Twitter</a>
            ❄
            <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook">Facebook</a>
            ❄
            <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus">Google+</a>
            ❄
            <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email">Email</a>
        </p>
    </section>
    {% endif %}
    {% if DISQUS_SITENAME %}
    <div class="comments">
    <h2>Comments !</h2>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
           var disqus_identifier = "{{ article.url }}";
           (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
    </div>
    {% endif %}

{% endblock %}
