<article class="summary">
  <div>
    <h2>
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
    </h2>
    <p>{{ article.summary }}</p>
  </div>
</article>
