{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

{% for article in articles %}

    {% if loop.index == 1 %}

      <article>
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        {{ article.content }}
      </article>
      <section>
          <p id="post-share-links">
              Share on:
              <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter">Twitter</a>
              ❄
              <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook">Facebook</a>
              ❄
              <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus">Google+</a>
              ❄
              <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email">Email</a>
          </p>
      </section>
      <hr />

      {% if loop.length  > 1 %}
        <div>
          <h3>Last posts</h3>
          <ol class="archive">
      {% endif %}
    
    {% elif loop.index < 7 %}
      <li>
        {% include 'article_link.inc.html' %}
      </li>
    {% endif %}

{% endfor %}
          </ol>
        </div>

{% endblock content %}
